@use "variable" as *;
@use "modal" as *;
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 0.2rem auto;
  &__item {
    background-color: #fff;
    color: #111;

    border-radius: 0.5rem;
    @include boxshadow(0 4px 8px 0 rgba(0, 0, 0, 0.25));
  }
  &__header {
    line-height: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
    &::after {
      content: "\02795";
      font-size: 0.9rem;
    }
    &.active::after {
      content: "\2796";
    }
    &.active + .accordion__body {
      max-height: 500px;
    }
  }
  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  &__content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #2d2d, transparent) 1;
  }
}
