.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: clamp(20rem, 20rem + 2vw, 22rem);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: linear-gradient(to right, #ffffff, #ece9e6);
  text-align: justify;
  margin-top: 2rem;
  &__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    margin-top: auto;
    border-top: 1px solid black;
  }
  &__color {
    margin-bottom: 0.5rem;
    background-color: blueviolet;
    padding: 0.5rem 0.64rem;
    align-self: flex-start;
    border-radius: 1em;
    cursor: pointer;
    color: #ffffff;
  }
}

.btn-open {
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 3rem;
  background-color: #ece9e6;
  pointer-events: all;
  font-size: 0.91rem;
  cursor: pointer;
  &:hover {
    background-color: crimson;
  }
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
