@use "modal" as *;
@use "function" as *;
@mixin brek($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    .btn_open {
      position: relative;
      outline: none;
      border: 0;
      font-family: inherit;
      font-size: inherit;
      background-color: rgba(255, 255, 255, 0.178);
      cursor: pointer;
    }
    .modal {
      
      &__dialog {
        padding: 1.4rem;
        height: res(290px, $rem: true);
        width: 70%;
      }
    }
    .profile {
      &__Name {
        font-size: res(38px, $rem: true);
      }
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .sidebar {
      height: 100%;
      position: fixed;
      z-index: 1;
      width: 0;
      top: 0;
      left: 0;
      background-color: #111;
      overflow: hidden;
      padding-top: 60px;
      color: #ffff;
      transition: all 0.5s ease-in-out;

      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0.5rem;
        @at-root h5 {
          margin-left: 0.9rem;
        }
        .btn-close {
          background-color: transparent;
          border: 0;
          color: #ffff;
          padding: 0 0.9rem;
          cursor: pointer;
        }
      }
      &__body {
        padding: 0.9rem 0;
      }
      &__link {
        color: #ffff;
        text-decoration: none;
        list-style-type: none;
        line-height: 2.1rem;
        margin-left: 0.9rem;
        font-size: 0.924rem;
        white-space: nowrap;
      }
    }
    .carousel {
      &__item {
        padding: 1rem;
        width: 100%;
      }
      &__button {
        width: 0.1rem;
      }
    }
    .footer_item {
      font-size: 1.4rem;
    }
    [data-icon] {
      font-size: 1.2rem;
    }
    .accordion {
      &__header {
        padding: 0.9rem;
      }
    }
    .card {
      width: clamp(15rem, 18rem - 2vw, 20rem);
    }
  }
}
@mixin breks($min) {
  @media (min-width: $min) {
    .btn_open {
      display: none;
    }
    .navbar {
      display: flex;
      align-items: center;

      &__header h5 {
        font-size: 1.2rem;
      }
    }

    .btn-close[data-dismiss="offcanvas"] {
      display: none;
    }
    .s {
      display: none;
    }
    .profile {
      &__Name {
        font-size: res(43px, $rem: true);
      }
    }
    .navbar {
      padding: 0.5rem;
    }
    .sidebar {
      &__menu {
        display: flex;
        white-space: nowrap;
      }
      &__link {
        margin: 0 1.2rem;
        font-size: 1rem;
        text-decoration: none;
        color: #2d2d2d;
      }
    }
    .accordion {
      &__header {
        padding: 1.5rem 1.2rem;
      }
    }
    .card {
      width: clamp(20rem, 20rem + 2vw, 22rem);
    }
  }
}

@include brek(120px, 758px);
@include breks(758px);
