$primary: #94b49f;
$secondary: #ecb390;
$dark: #2d2d2d;
$purple: #7276e1;
$light: #ffffff;
$orange: hsl(14, 88%, 65%);
$blue-dark: hsl(238, 29%, 16%);
$grey-light: hsl(237, 12%, 33%);
$blue-mid: hsl(240, 6%, 50%);
$sky: #0ea5e9;
/* fonts */
$font: "Kumbh Sans", sans-serif;
$base-font-size: 1.2rem;
