$primary: #94b49f;
$secondary: #ecb390;
$accordion-button-icon: url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path fill-rule='evenodd' d='M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z'/></svg>") !default;
$accordion-button-active-icon: url("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path fill-rule='evenodd' d='M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z'/></svg>") !default;
$purple: #7276e1;
$orange: hsl(14, 88%, 65%);
$blue-dark: hsl(238, 29%, 16%);
$grey-light: hsl(237, 12%, 33%);
$blue-mid: hsl(240, 6%, 50%);

/* fonts */
$font: "Kumbh Sans", sans-serif;
$base-font-size: 1.2rem;
